body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a img {
    text-decoration: none;
}
h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
.img-medium {
    max-height: 225px;
    width: auto;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}
.bold {
    font-weight: bold;
}
#header {
    border-bottom: 1px solid grey;
    height: 100px;
}
#header #logo {
    max-height: 100px;
    width: auto;
    float: left;
}
#header #title {
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    border: none;
}
.clear {
    clear: both;
}
#footer {
    padding-top: 2px;
    border-top: 1px solid grey;
    text-align: center;
}
#footer a {
    color: #fff;
}
label {
    font-weight: bold;
    width: 200px;
    display: block;
    float: left;
}
.thumbnail-wrapper {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
img.thumbnail {
    height: 200px;
    width: auto;
}
.isolated-field {
    padding-top: 20px;
}