body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #444;
}
a img {
    text-decoration: none;
}
h1 {
    font-size: 25px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
.img-medium {
    max-height: 225px;
    width: auto;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}
.bold {
    font-weight: bold;
}
#header {
    height: 80px;
}
#header #logo {
    max-height: 80px;
    width: auto;
    float: left;
}
#title {
    float: right;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 50px;
}
.clear {
    clear: both;
}
#footer {
    padding-bottom: 10px;
    height: 180px;
}
#footer a {
    color: #fff;
}
label {
    font-weight: bold;
}
.thumbnail-wrapper {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
img.thumbnail {
    height: 200px;
    width: auto;
}
.isolated-field {
    padding-top: 20px;
}
.signature {
    margin-top: 100px;
}
.claim {
    font-size: 26px;
}
.claim, .footer-description {
    color: #9e9e9e;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
th {
    background-color: #efefef;
}
.separator {
    margin-top: 20px;
    margin-bottm: 20px;
}
.line-separator {
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    margin-bottom: 10px;
    clear: both;
}
.margin-bottom {
    margin-bottom: 10px;
}
.paired-field {
    float: left;
    width: 300px;
    margin-right: 20px;
}