<div id="footer">
    <div class="float-left claim">The Power to Surprise</div><div class="float-right footer-description">KMB pool vehicles | Press customer form</div>
    <div class="clear"></div>
</div>